*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}

html,body{
	width:100%;
	height:100%;
}
.top{
	width:100%;
	min-height:100px;
	position: relative;
	top:100px;
}
.top img{
	width:100%;
}
.mobList{
	width:100%;
	height:100px;
	border:1px solid orange;
	display: none;
	position: absolute;
	top:0 !important;
	left:0;
}
.mobList div{
	position:absolute;
	top:25px;
}
.mobList a{text-decoration: none !important;}
.a{left:0%;}
.b{left:20%;}
.c{right:20%;}
.d{right:0%;}
/*.e{left:85%;}*/
.mobList a{
	color:white;
}
.header{
	width:100%;
	height:100px;
	background: rgba(0,0,0,0.4);
	position: fixed;
	top:0;
	z-index: 999;
}
.head_toggle{
	width:30px;
	height:25px;
	/*border:1px solid red;*/
	position: absolute;
	padding:20px;
	top:20px;
	left:15px;
	display: none;
}
.head_toggle div{
	width:30px;
	height:0;
	border-bottom: 2px solid white;
	padding-bottom: 5px;
	margin:0 auto;
}
.headWrap{
	height:100px;
	width:80%;
	margin:0 auto;
	/*border:1px solid green; */
}
.logo{
	width:20%;
	height:100px;
	float:left;
}
.logo img{
	margin-top:22px;
}
.naveBar{
	width:80%;
	height:100px;
	float:left;
}
.naveBar a{
	color:white;
}
.naves{
	width:20%;
	height:100px;
	text-align: center;
	line-height: 100px;
	float: left;
	color:white;
	font-size: 22px;
}
.naves a{
	display: block;
	width:100%;
	height:100%;
}
.kefu{
	/*width:100%;*/
	width:85%;
	height:40px;
	border-radius:20px;
	background:white;
	color:red;
	line-height:38px;
	margin-top:31px;
}
.kefu a{
	color:rgb(51,51,51) !important;
}
.kefu img{
	width:34px;
	height:24px;
	float:left;
	margin:6px 0 0 15px;
}
.content{
	width:35%;
	height:200px;
	text-align: center;
	position: absolute;
	top:35%;
	left:40%;
}
.shili{
	font-size: 50px;
	font-weight: normal;
	background: linear-gradient(-18deg,rgb(255,162,0),50%,rgb(255,219,57));
    -webkit-background-clip: text;
    color: transparent;
}
.strength{
	font-size:24px;
	line-height: 40px;
	color: white;
}

.body{
	width:100%;
	background: rgb(245,245,245);
	padding-bottom:10px;
}
.body_title{
	width:280px;
	height:110px;
	margin:0 auto;
	padding-top:20px;
}
.anquan{
	width:240px;
	height:35px;
	text-align: left;
	font-size: 36px;
	color:rgb(51,51,51);
	line-height: 35px;
}
.security{
	width:280px;
	height:35px;
	text-align: right;
	font-size: 30px;
	letter-spacing:-2px;
	color:rgba(51,51,51,0.5);
	line-height: 35px;
}
.advance{
	width:75%;
	/*height:280px;*/
	min-height: 175px;
	margin:0 auto;
	/*border:1px solid red;*/
}
.ad_cont{
	width:28%;
	/*height:240px;*/
	min-height: 175px;
	padding:20px;
	/*border:1px solid orange;*/
	display: inline-block;
	margin-right:5px;
	background: white;
	position: relative;
}
.ad_1{
	width:100%;
	height:70px;
	position: relative;
	/*border:1px solid red;*/
}
.ad_1 img{
	width:70px;
	height:70px;
	position: absolute;
}
.ad_1_div1{
	position: absolute;
	top:5px;
	left:75px;
	/*border:1px solid red;*/
	font-size: 20px;
	color:rgb(51,51,51);
	line-height: 30px;
}
.ad_1_div2{
	position: absolute;
	top:35px;
	left:75px;
	/*border:1px solid red;*/
	font-size: 18px;
	color:rgb(153,153,153);
}
.ad_cont p{
	/*width:100%;*/
	position: absolute;
	top:100px;
	color:rgb(102,102,102);
}

/*footer*/
.footer{
	width:100%;
	height:600px;
	/*border:1px solid red;*/
	position: relative;
	background: url('../img/foot_bg.png') no-repeat;
	background-size: cover;
}
.footer_mobile{
	width:670px;
	height:350px;
	position: absolute;
	top:100px;
	left:4%;
}
.foot_title{
	width:40%;
	height:40px;
	position: absolute;
	top:25px;
	left:38%;
	/*border:1px solid red;*/
	text-align: center;
	line-height: 40px;
}
.suishi{
	font-size: 36px;
	font-weight: 600;
	background: linear-gradient(135deg,rgb(255,115,12),50%,rgb(255,205,107));
    -webkit-background-clip: text;
    color: transparent;
}
.qingsong{
	font-size: 36px;
	color:rgb(51,51,51);
}	
.foot_cont{
	width:50%;
	height:96px;
	position: absolute;
	top:80px;
	left:33%;
	/*border:1px solid red;*/
	text-align: center;
	letter-spacing: 2px;
	font-size: 18px;
	line-height: 26px;
	color:rgb(102,102,102);
}
.download{
	width:35%;
	max-width:480px;
	height:230px;
	position: absolute;
	top:260px;
	left:51%;
	/*border:1px solid red;*/
}
.erweima{
	width:50%;
	height:220px;
	position: absolute;
}
.down_iphone{
	width:50%;
	height:50px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top:35px;
	right:5px;
	border-radius: 25px;
	background: url('../img/bg_iphone.png') no-repeat;
	color:white;
	display: block;
}
.down_android{
	width:50%;
	height:50px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top:100px;
	right:5px;
	border-radius: 25px;
	background: url('../img/bg_android.png') no-repeat;
	color:white;
	display: block;
}
.apple{
	width:30px;
	height:30px;
	position: absolute;
	top:10px;
	left:30px;
}
.zaixian{
	width:120px;
	height:145px;
	color:rgb(51,51,51);
	position: fixed;
	top:300px;
	right:5px;
	background: url('../img/qq.png') no-repeat;
}
.zaixian a{
	/*margin-left:20%;*/
	color:#333;
	position: absolute;
	bottom:0px;
	left:24%;
}
.nav:hover{
	background:linear-gradient(-18deg,rgb(255,144,0),20%,rgb(255,203,78))
}
/*768*/
@media (max-width:1200px){
	.head_toggle{
		display: block;
	}
	.mobList{
		display: block;
		position: absolute;
		top:100px;
		/*left:15px;*/
		/*background: rgba(0,0,0,0.4);*/
		color:white;
	}
	.mobList div{
		/*padding:5px;*/
		width:130px;
		height:60px;
		text-align: center;
		line-height: 60px;
		font-size: 24px;
		/*border-bottom: 1px solid #ccc;*/
	}
	.mobList a{
		display: block;
		width:100%;
		height:100%;
	}
	.naveBar{
		display: none;
	}
	.logo{
		float:none;
		margin:0 auto;
	}
	.ad_cont{
		width:100%;
	}
	.ad_1_div1{
		font-size:26px;
	}
	.ad_cont p{
		font-size: 22px;
	}

	.footer_mobile{
		display: none;
	}
	.foot_title{
		left:30%;
	}
	.foot_cont{
		font-size: 22px;
		left:23%;
	}
	.download{
		width:50%;
		left:25%;
	}
	.down_iphone,.down_android{
		font-size:24px;
	}
	.apple{
		left:21px;
	}
	.logo{
		position: absolute;
		left:40%;
		z-index: 10000;
	}


}

